:local(.watch) {
    background-image: url("../../img/montre.png");
    height: 225px;
    width: 227px;
    position: relative;
    margin-bottom: 50px;  
    margin-top: 50px;  
    margin-left: auto;
    margin-right: auto;
  }

  :local(.screen) {
    position: absolute;
    width: 128px;
    height: 63px;
    top: 79px;
    left: 50px;
    border-radius: 10px;
  }

  :local(.topScreen) {
    height: 40%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    
  }

  :local(.bottomScreen) {
    height: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
  }

  :local(.hours){
    height: 60%;
    width: 33%;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    bottom: 0;
  }

  :local(.firstSpace){
    position: absolute;
    height: 60%;
    width: 7%;
    display: inline-block;
    left: 42.24px;
  }

  :local(.minutes){
    height: 60%;
    width: 33%;
    display: inline-block;
    position: absolute;
    left: 51.2px;
  }

  :local(.secondSpace){
    height: 60%;
    width: 7%;
    display: inline-block;
    position: absolute;
    left: 93.44px;
  }

  :local(.seconds){
    height: 60%;
    width: 20%;
    display: inline-block;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right:0;
  }

  :local(.hoursDisplayer) {
    height: 80%;
    width:100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  
  :local(.firstSpaceDisplayer) {
    
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  :local(.minutesDisplayer) {
    height: 80%;
    width:100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  :local(.secondsDisplayer) {
    height: 80%;
    width:100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :local(.secondsDisplay) {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
  }

  :local(.modeButton) {
    height:14px;
    width:8px;
    position: absolute;
    top:72px;
    right:0;
    background:silver;
    border:0;
  }

  :local(.modeButton:hover) {
    background:lightcoral;
  }

  :local(.increaseButton) {
    height:14px;
    width:8px;
    position: absolute;
    bottom:85px;
    right:0;
    background:silver;
    border:0;
  }

  :local(.increaseButton:hover) {
    background:lightcoral;
  }

  :local(.nightModeButton) {
    height:14px;
    width:8px;
    position: absolute;
    bottom:85px;
    left:0;
    background:silver;
    border:0;
  }

  :local(.nightModeButton:hover) {
    background:lightcoral;
  }

  :local(.resetButton) {
    height:14px;
    width:8px;
    position: absolute;
    top:72px;
    left:0;
    background:silver;
    border:0;
  }

  :local(.resetButton:hover) {
    background:lightcoral;
  }

  :local(.GMT) {
    text-align: center;
  }
  
  :local(.amModeButton) {
    height:14px;
    width:8px;
    position: absolute;
    top:47px;
    left:110px;
    background:silver;
    border:0;
  }

  :local(.amModeButton:hover) {
    background:lightcoral;
  }